
<button id="toggleButton" (click)="toggleView()">{{toggleButtonText}}</button>

<button *ngFor="let verdieping of verdiepingSet" (click)="setVerdieping(verdieping)">{{verdieping.name}}</button>

<div class="{{cssClass}}">
 <app-ruimte style="padding:0" (click)=onClick(ruimte) id="{{ruimte.cssId}}" [ngStyle]="{color: {true: 'blue'}[(ruimte.gereserveerd && settings.bezet) ]}"
             *ngFor="let ruimte of ruimtesSet"
                    [ruimte]="ruimte" [geselecteerdeRuimte]="geselecteerdeRuimte" [gereserveerdeRuimtes]="gereserveerdeRuimtes" [timeout]="timeout"></app-ruimte>
</div>
