<div [ngStyle]="{'background-color': backgroundColor}" style="height:100%;padding:0" >
  <p style="margin:0" *ngIf="settings.name">{{ruimte.name}}</p>

  <div *ngIf="ruimte.type!='gang'">

    <p class="fa fa-chalkboard-teacher" *ngIf="ruimte.type.toLowerCase()==='klaslokaal' && settings.type"></p>
    <p class="fa fa-book-reader" *ngIf="ruimte.type.toLowerCase()==='aula' && settings.type"></p>
    <p class="fa fa-utensils" *ngIf="ruimte.type.toLowerCase()==='cafetaria' && settings.type"></p>
    <p class="fa fa-lightbulb" *ngIf="ruimte.type.toLowerCase()==='vergaderzaal' && settings.type"></p>
    <p class="fa fa-graduation-cap" *ngIf="ruimte.type.toLowerCase()==='studielandschap' && settings.type"></p>
    <p class="fa fa-chair-office" *ngIf="ruimte.type.toLowerCase()==='bureau' && settings.type"></p>
    <br>
    <p class="fa fa-video" *ngIf="ruimte.beamer && settings.beamer"></p>

    <p style="display:flex; justify-content:flex-end; align-content: flex-end;"
       *ngIf="settings.bezet && ruimte.drukte >= 0">{{ruimte.drukte}} <span class="fa fa-child"></span></p>
    <p style="display:flex; justify-content:flex-end; align-content: flex-end;"
       *ngIf="ruimte.capaciteit && settings.capaciteit">{{ruimte.capaciteit}} <span class="fa fa-male"></span></p>


    <div *ngIf="(ruimte === geselecteerdeRuimte)">

      <input (change)="veranderBackground()" *ngIf="(ruimte.drukte  >= 0)" type="range" name="drukte" id="drukteSlider" [(ngModel)]="ruimte.drukte"
             min="0"
             max="{{ruimte.capaciteit}}"/>
      <br>

      <div
        *ngIf="!ruimte.bezet && !ruimte.gereserveerd && (ruimte.type == 'vergaderzaal' || ruimte.type == 'aula' || ruimte.type == 'klaslokaal')">

        <h3>Reserveer het lokaal: </h3>
        <select [(ngModel)]="selectedOption">
          <option type="radio" value="1">1u</option>
          <option value="2">2u</option>
          <option value="3">3u</option>
        </select>

        <button (click)="reserveer()">reserveer</button>
      </div>

      <div *ngIf="ruimte.gereserveerd">
        Gereserveerd tot {{ruimte.eindDatumReservatie.toLocaleString()}}
      </div>
      <div *ngIf="ruimte.bezet">
        <br>
        bezet
      </div>

      <a (click)="onInfoClick()" [routerLink]="['ruimtedetails/', ruimte.id]" class="fa fa-info-circle">


      </a>
    </div>
  </div>

