<div (click)="onClick()">
  <p *ngIf="settings.name">{{ruimte.name}}</p>

  <p class="fa fa-video" *ngIf="ruimte.beamer && settings.beamer"></p>


  <p style="display:flex; justify-content:flex-end; align-content: flex-end;"
     *ngIf="ruimte.capaciteit && settings.capaciteit">{{ruimte.capaciteit}} <span class="fa fa-male"></span></p>
  <p style="display:flex; justify-content:flex-end; align-content: flex-end;"
     *ngIf="settings.bezet && ruimte.drukte >= 0">{{ruimte.drukte}} <span class="fa fa-child"></span></p>

</div>
<div *ngIf="(ruimte == geselecteerdeRuimte)">

  <input *ngIf="(ruimte.drukte  >= 0)" type="range" name="drukte" id="drukteSlider" [(ngModel)]="ruimte.drukte" min="0"
         max="100"/>
  <br>

  <div *ngIf="!ruimte.bezet && !ruimte.gereserveerd && (ruimte.type == 'vergaderzaal' || ruimte.type == 'aula' || ruimte.type == 'klaslokaal')">

    <h3>Reserveer het lokaal: </h3>
    <select [(ngModel)]="selectedOption">
      <option type="radio" value="1">1u</option>
      <option value="2">2u</option>
      <option value="3">3u</option>
    </select>

    <button (click)="reserveer()">reserveer</button>
  </div>

  <div *ngIf="ruimte.gereserveerd">
    Gereserveerd tot {{ruimte.eindDatumReservatie.toLocaleString()}}
  </div>

  <a [routerLink]="['ruimtedetails/', ruimte.id]" (click)="infoClick()" class="fa fa-info-circle">


  </a>
</div>


